
 #main_header{

    text-align: center;
    color: #fff;
    background-color: black;
    padding: 30px;
    font-weight: 500px;
}

.container {

    margin-top: 20px;
}


.box1 h2{

    float: left;
}

.box1 button {

    float: right;
}

.red , .green{

    text-align: center;
}

.red{
    color: red;
}

.green{

    color: green;
}